* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: white;
    font-size: 16px;
    overflow: auto;
}
  
.wrap {
    width: 100%;
    margin: 0 auto;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
.clearfix {
    clear: both;
}
  
/* style main header */
header.main {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 999;
}

header.main a[id="logo"] {
    float: left;
    text-decoration: none;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 70px;
}

header.main .navigation {
    list-style-type: none;
}

header.main .navigation .menu {
    min-height: 13px;
    max-width: 468px;
    margin: 33px auto 36px auto;
    padding: 0;
}

header.main .navigation .menu li {
    position: relative;
    float: left;
    margin-right: 25px;
    list-style-type: none;
}

header.main .navigation .menu li:nth-child(4) {
    margin-right: 0;
}

header.main .navigation .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.325px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: #fff;
}

header.main .navigation .menu li a:active, 
header.main .navigation .menu li a:hover {
    color: #fdbf22;
}

header.main .navigation .menu li a.active {
    color: #fdbf22;
}


/* about block */
section.about {
    background-image: url(../img/main-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    width: 100%;
}

.about {
    position: relative;
}

.about .about-bgd {
    width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
}

.about .about-bgd .about-overlay {
    width: 100%;
    min-height: 700px;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
    background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}

.about .about-bgd .about-overlay h1 {
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.32px;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    padding-top: 228px;
}

.about .about-bgd .about-overlay h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #fdbf22;
    margin: 30px auto;
}

.about .about-bgd .about-overlay p {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-transform: lowercase;
    color: white;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.7px;
    max-width: 780px;
    box-sizing: content-box;
    margin: 0 auto;
    text-align: center;
}

.about .about-bgd .about-overlay .button-about {
    text-decoration: none;
    max-width: 160px;
    display: block;
    margin: 33px auto;
    padding: 17px;
    border: 1px solid #fdbf22;
    color: #fdbf22;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.about .about-bgd .about-overlay .button-about:active, 
.about .about-bgd .about-overlay .button-about:hover {
    color: #46A3CC;
    border: 1px solid #46A3CC;
}


/* description block */
#description {
    margin: 80px 0;
    padding: 0 150px;
}

#description .image {
    display: inline-block;
    width: 40%;
    text-align: center;
    
}

#description .content {
    display:inline-block;
    width: 58%;
    vertical-align: top;
    padding: 0 50px;
    color: #555963;
}

#description .content h2 {
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    font-size: 28px;
    letter-spacing: 0.32px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

#description .content p {
    padding-bottom: 25px;
}

#workspace {
    display: block;
    padding: 0 100px;
    margin: 100px auto;
}

#workspace h2 {
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    font-size: 28px;
    letter-spacing: 0.32px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

#workspace h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #fdbf22;
    margin: 30px auto;
}

#workspace h4 {
    display: block;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    letter-spacing: 0.32px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
}

/* table */
.wrapper_table {
    width: 100%;
    box-sizing: border-box;
}
  
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    padding-top: 200px;
}
  
th {
    padding: 8px 5px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    font-weight: normal;
    background: white;
}
  
tbody tr {
    border-bottom: 20px solid white;
    background-color: rgba(44, 26, 88, 0.15);
}
  
table tr:hover {
    background-color: rgba(44, 26, 88, 0.30);
}
  
.table_header {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #555963;
    border-bottom: 20px solid transparent;
}
  
.table_header .quantily {
    text-align: center;
}
  
td {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 32px;
    color: #555963;
}
  
td a {
    text-decoration: none;
}
  
.delete {
    width: 4.1%;
}
  
.delete img {
    display: block;
    min-width: 13px;
    margin: 0 auto;
}
  
.product {
    padding: 0;
    width: 60px;
    padding-left: 5px;
}
  
.product img {
    padding: 25px 0 24px 0;
}
  
.name_book {
    padding-left: 19px;
    min-width: 145px;
    width: 30%;
    padding-right: 10px;
    vertical-align: top;
    text-align: left;
}
  
.name_book a {
    text-decoration: none;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 19px;
    line-height: 21px;
    color: #45474b;
    position: relative;
    top: 25px;
}
  
.name_book a:hover {
    color: rgba(255, 187, 88, 0.9);
}
  
td p.name_author {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #dd9327;
    position: relative;
    top: 25px;
  }
  
.format {
    width: 25%;
    padding: 0 10px;
    text-align: left;
}
  
.language {
    padding: 0 10px;
    width: 15%;
    text-align: left;
}
  
.quantily {
    width: 15%;
    min-width: 83px;
}
  
.goods-count {
    text-align: center;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
  
span.amount {
    cursor: pointer;
    padding: 10px;
    width: 16px;
}
  
.down {
    font-size: 30px;
    position: relative;
    top: 2px;
}
  
.up {
    font-size: 30px;
    position: relative;
    top: 2px;
}
  
.price {
    text-align: right;
    padding-right: 27px;
    width: 10%;
}
  
.goods-price, .sum {
    font-size: 25px;
    font-family: Roboto, sans-serif;
}
  
.quantily input.counter,
.quantily input.counter2,
.quantily input.counter3 {
    border: none;
    background-color: transparent;
    width: 30px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #555963;
}

#main-footer {
    position: relative;
}

#main-footer .footer-bgd {
    width: 100%;
    min-height: 400px;
    background-image: url(../img/footerBgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#main-footer .footer-bgd .footer-overlay {
    display: block;
    width: 100%;
    min-height: 400px;
    padding: 0 150px;
    background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
    background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}

#main-footer .author {
    display: inline-block;
    float: right;
    margin-top: 135px;
    min-width: 300px;
    text-align: center;
}

#main-footer .author h3 {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.364px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

#main-footer .author a {
    text-decoration: none;
    color: white;
}
#main-footer .author a:hover {
    color: #fdbf22;
}

#main-footer .author .wrap-links {
    margin: 30px 0;
}

#main-footer .author .wrap-links a {
    margin: 0 13px;
}
