section.About {
  background-image: url(../img/main-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
  box-sizing: border-box;
}
  
.About {
  position: relative;
  .About-bgd {
    width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    .About-overlay {
      width: 100%;
      min-height: 700px;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
      background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
      background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
      h1 {
        text-align: center;
        line-height: 45px;
        text-transform: uppercase;
        position: relative;
        font-size: 32px;
        letter-spacing: 0.32px;
        color: white;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        padding-top: 228px;
        &::after {
          content: '';
          display: block;
          width: 50px;
          height: 2px;
          background: #fdbf22;
          margin: 30px auto;
        }
      }
      p {
        font-size: 18px;
        font-family: Roboto, sans-serif;
        text-transform: lowercase;
        color: white;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.7px;
        max-width: 780px;
        box-sizing: content-box;
        margin: 0 auto;
        text-align: center;
      }
      .Button-about {
        text-decoration: none;
        max-width: 160px;
        display: block;
        margin: 33px auto;
        padding: 17px;
        border: 1px solid #fdbf22;
        color: #fdbf22;
        font-size: 17px;
        font-family: Roboto, sans-serif;
        text-align: center;
        &:active, &:hover {
          color: #46A3CC;
          border: 1px solid #46A3CC;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .About {
    .About-bgd {
      width: 100%;
      .About-overlay {
        width: 100%;
        h1 {
          text-align: center;
          line-height: 45px;
          font-size: 26px;
          letter-spacing: 0.32px;
          padding: 200px 50px 0 50px;
          &::after {
            margin: 30px auto;
          }
        }
        p {
          font-size: 16px;
          padding: 0 50px;
          line-height: 28px;
          letter-spacing: 0.7px;
          max-width: 780px;
          box-sizing: content-box;
        }
        .Button-about {
          font-size: 16px;
          margin: 40px auto
        }
      }
    }
  }
}