#Workspace {
  display: block;
  padding: 0 100px;
  margin: 100px auto;
  box-sizing: border-box;
  h2 {
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    font-size: 28px;
    letter-spacing: 0.32px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background: #fdbf22;
      margin: 30px auto;
    }
  }
  h4 {
    display: block;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    letter-spacing: 0.32px;
    color: #555963;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
  }
  .Services-block {
    max-width: 1025px;
    margin: 0 auto;
    margin-bottom: 68px;
    a {
      text-decoration: none;
    }
    .Service {
      float: left;
      width: calc(100% / 3);
      max-width: 342px;
      min-height: 390px;
      border: 1px solid #EFEFEF;
      border-top: none;
      &:hover, &:active {
        background-color: rgba(253, 191, 34, 0.25);
      }
      img {
        display: block;
        margin: 0 auto;
        width: 100px;
        margin-top: 39px;
        margin-bottom: 34px;
        text-align: center;
        min-height: 50px;
      }
      h3 {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.7px;
        line-height: 22px;
        color: #413d4b;
        margin-bottom: 25px;
        padding: 0 10px;
      }
      p {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.7px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 40px;
        padding: 0 30px;
      }
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        border-left: none;
        border-right: none;
      }
      &:nth-child(1n+4) {
        border-bottom: none;
      }
    }
    .Clearfix {
      clear: both;
    }
  }
}


@media (max-width: 767px) {
	#Workspace {
		padding: 0 50px;
		h2 {
			font-size: 22px;
			line-height: 32px;
      &::after {
        margin: 15px auto;
      }
		}
    h4 {
      font-size: 18px;
      margin-bottom: 50px;
    }
		p {
			font-size: 16px;
		}
		.Services-block {
			max-width: 100%;
			.Service {
				max-width: 320px;
        float: none;
				display: block;
				width: auto;
				margin: 0 auto 50px auto;
				border: none;
				border-bottom: 1px solid #EFEFEF;
				outline: none;
				background-color:  rgba(253, 191, 34, 0.25);
				border-radius: 50px;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;           /* Non-prefixed version, currently not supported by any browser */
				padding: 30px;
				&:hover, &:active {
					background-color:  rgba(253, 191, 34, 0.45);
				}
				h3 {
					font-size: 19px;
					letter-spacing: 0.7px;
					line-height: 32px;
				}
				p {
					font-size: 16px;
					letter-spacing: 0.7px;
					line-height: 32px;
					padding: 0;
				}
				&:nth-child(1n+4) {
					border-bottom: 1px solid #EFEFEF;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  #Workspace {
		padding: 0 50px;
		h2 {
			font-size: 24px;
			line-height: 32px;
      &::after {
        margin: 30px auto;
      }
		}
    h4 {
      font-size: 20px;
      margin-bottom: 50px;
    }
		p {
			font-size: 18px;
		}
		.Services-block {
			max-width: 100%;
			.Service {
				max-width: 720px;
        float: none;
				display: block;
				width: auto;
				margin: 0 auto 50px auto;
				border: none;
				border-bottom: 1px solid #EFEFEF;
				outline: none;
				background-color:  rgba(253, 191, 34, 0.25);
				border-radius: 50px;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;           /* Non-prefixed version, currently not supported by any browser */
				padding: 30px;
				&:hover, &:active {
					background-color:  rgba(253, 191, 34, 0.45);
				}
				h3 {
					font-size: 21px;
					letter-spacing: 0.7px;
					line-height: 32px;
				}
				p {
					font-size: 18px;
					letter-spacing: 0.7px;
					line-height: 32px;
					padding: 0;
				}
				&:nth-child(1n+4) {
					border-bottom: 1px solid #EFEFEF;
				}
			}
		}
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	#Workspace {
		padding: 0 50px;
		h2 {
			font-size: 28px;
		}
		p {
			font-size: 19px;
		}
    h4 {
      margin-bottom: 50px;
    }
		.Services-block {
			max-width: 100%;
			.Service {
				float: none;
				display: block;
				max-width: 720px;
				width: auto;
				margin: 0 auto 50px auto;
				border: none;
				border-bottom: 1px solid #EFEFEF;
				outline: none;
				background-color:  rgba(253, 191, 34, 0.25);
				border-radius: 50px;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;           /* Non-prefixed version, currently not supported by any browser */
				padding: 30px;
				&:hover, &:active {
					background-color:  rgba(253, 191, 34, 0.45);
				}
				img {
				min-height: 80px;
				}
				h3 {
					font-size: 22px;
					letter-spacing: 0.7px;
					line-height: 52px;
				}
				p {
					font-size: 19px;
					letter-spacing: 0.7px;
					line-height: 32px;
					padding: 0;
				}
				&:nth-child(1n+4) {
					border-bottom: 1px solid #EFEFEF;
				}
			}
		}
	}
}
