* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: white;
  font-size: 16px;
  overflow: auto;
}

.App {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.Clearfix {
  clear: both;
}

/* style main header */
header.Main {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 999;
}

header.Main a[id="logo"] {
  float: left;
  text-decoration: none;
  width: 100px;
  position: absolute;
  top: 20px;
  left: 70px;
}

header.Main .Navigation {
  list-style-type: none;
}

header.Main .Navigation .Menu {
  min-height: 13px;
  max-width: 468px;
  margin: 33px auto 36px auto;
  padding: 0;
}

header.Main .Navigation .Menu li {
  position: relative;
  float: left;
  margin-right: 25px;
  list-style-type: none;
}

header.Main .Navigation .Menu li:nth-child(4) {
  margin-right: 0;
}

header.Main .Navigation .Menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.325px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #fff;
}

header.Main .Navigation .Menu li a:active, 
header.Main .Navigation .Menu li a:hover {
  color: #fdbf22;
}

header.Main .Navigation .Menu li a.Active {
  color: #fdbf22;
}


/* about block */
section.About {
  background-image: url(./img/main-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
}

.About {
  position: relative;
}

.About .About-bgd {
  width: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
}

.About .About-bgd .About-overlay {
  width: 100%;
  min-height: 700px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}

.About .About-bgd .About-overlay h1 {
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  position: relative;
  font-size: 32px;
  letter-spacing: 0.32px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  padding-top: 228px;
}

.About .About-bgd .About-overlay h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fdbf22;
  margin: 30px auto;
}

.About .About-bgd .About-overlay p {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-transform: lowercase;
  color: white;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.7px;
  max-width: 780px;
  box-sizing: content-box;
  margin: 0 auto;
  text-align: center;
}

.About .About-bgd .About-overlay .Button-about {
  text-decoration: none;
  max-width: 160px;
  display: block;
  margin: 33px auto;
  padding: 17px;
  border: 1px solid #fdbf22;
  color: #fdbf22;
  font-size: 17px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.About .About-bgd .About-overlay .Button-about:active, 
.About .About-bgd .About-overlay .Button-about:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}


/* description block */
#description {
  margin: 80px 0;
  padding: 0 150px;
}

#description .Image {
  display: inline-block;
  width: 40%;
  text-align: center;
  
}

#description .Content {
  display:inline-block;
  width: 58%;
  vertical-align: top;
  padding: 0 50px;
  color: #555963;
}

#description .Content h2 {
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  letter-spacing: 0.32px;
  color: #555963;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

#description .Content p {
  padding-bottom: 25px;
}

#workspace {
  display: block;
  padding: 0 100px;
  margin: 100px auto;
}

#workspace h2 {
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  letter-spacing: 0.32px;
  color: #555963;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

#workspace h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fdbf22;
  margin: 30px auto;
}

#workspace h4 {
  display: block;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.32px;
  color: #555963;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
}

/* workspace */
#workspace .Services-block {
  max-width: 1025px;
  margin: 0 auto;
  margin-bottom: 68px;
}

#workspace .Services-block a {
  text-decoration: none;
}

#workspace .Services-block .Service {
  float: left;
  width: calc(100% / 3);
  max-width: 342px;
  min-height: 390px;
  border: 1px solid #EFEFEF;
  border-top: none;
}

#workspace .Services-block .Service:hover, 
#workspace .Services-block .Service:active {
  background-color: rgba(253, 191, 34, 0.25);
}

#workspace .Services-block .Service img {
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-top: 39px;
  margin-bottom: 34px;
  text-align: center;
  min-height: 50px;
}

#workspace .Services-block .Service h3 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #413d4b;
  margin-bottom: 25px;
  padding: 0 10px;
}

#workspace .Services-block .Service p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 40px;
  padding: 0 30px;
}

#workspace .Services-block .Service:nth-child(1),
#workspace .Services-block .Service:nth-child(3),
#workspace .Services-block .Service:nth-child(4),
#workspace .Services-block .Service:nth-child(6) {
  border-left: none;
  border-right: none;
}

#workspace .Services-block .Service:nth-child(1n+4) {
  border-bottom: none;
}

#workspace .Services-block .Clearfix {
  clear: both;
}


#main-footer {
  position: relative;
}

#main-footer .Footer-bgd {
  width: 100%;
  min-height: 400px;
  background-image: url(./img/footerBgd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#main-footer .Footer-bgd .Footer-overlay {
  display: block;
  width: 100%;
  min-height: 400px;
  padding: 0 150px;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}

#main-footer .Author {
  /* display: inline-block; */
  float: right;
  margin-top: 135px;
  min-width: 300px;
  text-align: center;
}

#main-footer .Author h3 {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.364px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}

#main-footer .Author a {
  text-decoration: none;
  color: white;
}
#main-footer .Author a:hover {
  color: #fdbf22;
}

#main-footer .Author .Wrap-links {
  margin: 30px 0;
}

#main-footer .Author .Wrap-links a {
  margin: 0 13px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
